.title{
  height: 1800px;
}
.cntbtn{
  margin-right: 40px;
  font-size: 2rem;
}
.mid{
  height: 1500px;
}
.ct{
  margin-top: 200px;
}
.heads{
  font-size: 2.5rem;
}
.eeslogo{
width: 7rem;
margin: 0;
}
.fa-brands,.fa-solid{
  font-size: 4rem;
}
.mid h1{
  font-size: 3rem;
}
.mid h3,h5{
  font-size: 1.8rem;
}
.map iframe{
  width: 40rem;
}
footer p{
  font-size: 1.8rem;
}
footer{
  padding: 10px;
}
